* {
    margin: 0;
    padding: 0;
}

h1 {
    display: ;
    color: rebeccapurple;
    margin: 30px  0 0 30px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
span {
    color: brown;
}
.watch {
    width: 80%;
    margin: 30px auto;
}